.idea
.DS_Store
node_modules
tmp
algorithm/a50bk.371_533.json
algorithm/a50bk.1602_1661.json
algorithm/a50bk.1531_1583.json
algorithm/a50bk.371_533.pdf
algorithm/a50bk.1217_1314.pdf
algorithm/a50bk.1165_1197.pdf
algorithm/SALI
algorithm/parsedText
algorithm/a50bk.1046_1087.json
algorithm/ASR
algorithm/a50bk.1165_1197.json
algorithm/CN
algorithm/a50bk.1046_1087.pdf
algorithm/C:NR
algorithm/SES
algorithm/EVC
algorithm/a50bk.1602_1661.pdf
algorithm/a50bk.1531_1583.pdf
algorithm/a50bk.1217_1314.json